# 日誌與偵錯檔案
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 套件與編譯產出
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# 自動化測試產出
/cypress/videos/
/cypress/screenshots/

# 編輯器與 IDE 設定檔
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript 編譯暫存
*.tsbuildinfo

# 環境變數檔案
.env
.env.*
.env*.local

# 忽略備份和原始文件
*.bak
*.orig