:root {
  --vt-c-white: #f5f7f9; /* 主要背景 */
  --vt-c-white-pure: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-black: #181818;
  --vt-c-indigo: #2c3e50;

  --color-background: var(--vt-c-white); /* 網頁底色 */
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-text: var(--vt-c-indigo); /* 全站主要內文顏色 */
  --color-heading: var(--vt-c-indigo); /* 標題類文字顏色（h1, h2, h3） */

  --color-border: rgba(60, 60, 60, 0.12);

  --el-color-primary: #1bbfce; /* 品牌主色：按鈕、載入條、選取狀態 */
  --el-color-primary-light-3: #48d1de; /* 懸停色：滑鼠移到按鈕上稍微變亮的顏色 */
  --el-color-primary-light-9: #e8f9fa;

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
